#header .view {
    min-height: 70vh !important;
    height: unset !important;
  }

h4{
    color: white;
}

.space{
    display: block;
    margin-left: 1.3em;
}

.imageBox {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
  
  .imageBox:hover .hoverImg {
    display: block;
  }
